*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}
.header {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}
.nav-list-item a {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
    text-decoration: none;
}
.nav-list-item a:hover {
    border-bottom: 1px dotted blue;
}
.header-cart {
    background: url("./images/cart.png") no-repeat;
    margin-top: 7px;
    padding-top: 4px;
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.header-cart span {
    display: inline-block;
    width: 20px;
    height: 18px;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 60%;
    margin-left: 8px;
    padding-bottom: 19px;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.coffee-mags {
    width: 1380px;
    margin: 91px auto;
    background: #050827 url("./images/mags.png") no-repeat center;
    padding-top: 159px;
    padding-bottom: 159px;
    padding-left: 293.5px;
    padding-right: 293.5px;
    text-align: center;
}
.coffee-mags-undertitle {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.coffee-mags-title {
    margin-top: 10px;
    font-size: 47px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.coffee-mags-subtitle {
    margin-top: 10px;
    margin-bottom: 48px;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.coffee-mags-explore {
    display: block;
    margin: 0 auto;
    width: 233px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 24px;
    padding-right: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #1D1F2E
}
.coffee-story {
    width: 658px;
    margin: 29px auto;
    text-align: center;
}
.coffee-story-title {
    width: 578px;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #1D1F2E;
}
.coffee-story-subtitle {
    margin-top: 16px;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: rgba(29, 31, 46, 0.7);
}
.coffee-story-full {
    display: block;
    margin: 0 auto;
    width: 133px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #A25F4B;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #A25F4B;
    cursor: pointer;
}
.featured-mugs {
    width: 960px;
    margin: 100px auto;
    text-align: center;
}
.mugs-title-wrapper {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 20px;
}
.mugs-title-wrapper img {
    display: block;
}
.mugs-title {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

.featured-mugs-box, .more-products-box {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.mugs-item-title {
    margin-top: 35px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #1D1F2E;
}
.mugs-item-price {
    margin-top: 5px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
    text-align: center;
}
.current-price span {
    margin-left: 10px;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: line-through;
    color: rgba(29, 31, 46, 0.4);
}
.current-price {
    font-size: 19px;
    line-height: 32px;
    text-align: center;
    color: #A25F4B;
}
.more-products-box {
    flex-wrap: wrap;
    row-gap: 70px;
}
.more-products-item {
    flex-basis: 33.33%;
    text-align: center;
}
.shopping {
    width: 940px;
    margin: 100px auto;
    margin-bottom: 100px;
}
.shopping-box {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.shopping-images {
    display: flex;
    gap: 20px
}
.shopping-images-item:nth-child(2) img {
    display: block;
    margin-bottom: 20px;
}
.shopping-info-undertitle {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.shopping-info-title {
    width: 237px;
    margin-top: 14px;
    font-size: 36px;
    line-height: 50px;
    color: #1D1F2E;
}
.shopping-info-subtitle {
    width: 353px;
    margin-top: 15px;
    margin-bottom: 34px;
}
.shopping-info-start {
    display: block;
    width: 173px;
    padding-top: 9px;
    padding-bottom: 8px;
    background-color: #1D1F2E;
    border: 1px solid #1D1F2E;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.coffeestyle-blog{
    width: 940px;
    margin: 100px auto;
}
.coffeestyle-blog-box {
    margin-top: 100px;
    display: flex;
    gap: 20px;
}
.blog-item-title {
    width: 297px;
    margin-top: 25.19px;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
}
.blog-item-subtitle {
    width: 281px;
    margin-top: 14px;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.blog-item-date {
    margin-top: 16px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.coffee-updates {
    width: 1380px;
    margin: 144px auto;
    padding-top: 79.96px;
    padding-bottom: 85.04px;
    background: #1D1F2E;
    text-align: center;
}
.coffee-updates .mugs-title {
    color: #FFFFFF;
}
.coffee-updates-title {
    margin-top: 15.04px;
    font-size: 36px;
    line-height: 50px;
    color: #FFFFFF;
}
.coffee-updates-form {
    margin-top: 24.96px;
    
}
.coffee-updates-form input {
    width: 379px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 18.5px;
    padding-right: 129px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    outline: none;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.coffee-updates-form input::placeholder {
    color: #FFFFFF;
}
.subscribe-btn {
    width: 129px;
    padding-top: 18.04px;
    padding-bottom: 17.96px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
    cursor: pointer;
}
.footer {
    width: 940px;
    margin: 107px auto;
    padding-bottom: 62px;
    display: flex;
    justify-content: space-between;
}
.footer-info {
    margin-top: 22px;
    margin-bottom: 82px;
    width: 258px;
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
.footer-rights {
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.3);
}
.block-title {
    margin-bottom: 23.01px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.list {
    list-style-type: none;
}
.list-item a {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 22px;
    text-decoration: none;
    color: rgba(29, 31, 46, 0.7);
}
.contact-desc {
    font-size: 14px;
    line-height: 22px;
    color: rgba(29, 31, 46, 0.7);
}
.contact-email {
    margin-top: 15px;
    margin-bottom: 55px;
    font-size: 23px;
    line-height: 36px;
    color: #1D1F2E;
}